   html,body{
   	height:100%;
   	background:#f2f2f2;
   }
#left-bar{
  		position:fixed;
  		left:0;
  		top:0;
  		width:2.664rem;
  		height:100%;
  		background-color:#1e262c;
  	}
#coal{
  		width:1.012rem;
  		height:0.288rem;
  		margin-top:0.302rem;
  		margin-left:0.773rem;
  	}
#left-text{
     width:2.109rem;
     height:0.281rem;
     margin-top:0.172rem;
     margin-left:0.273rem;
     border-radius: 0.111rem;
     background:#ffffff;
     background-image: url(img/放大镜.png);
     background-size:0.336rem 0.172rem;
     background-position:left;
     background-repeat: no-repeat;
     margin-bottom:0.123rem;
  	}
#left-text input{
	width:1.6rem;
	height:0.22rem;
	background:#ffffff;
	position:absolute;
	left:0.542rem;
	top:0.782rem;
	border:none;
  	}
.leftNeed{
	padding-left:0.273rem;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 0.141rem;
/*	border:1px solid rgba(74,80,84,0.7);*/
    line-height:0.274rem;
}
.needGroup{
	line-height:0.250rem;
	padding-left:0.391rem;
	color:#cccccc;
	font-size: 0.125rem;
	cursor: pointer;
	transition: background 0.8s;
}
.needGroup:hover{
	background:#787d80;
}
#need2{
	cursor: pointer;
}

.btnGroup{
	width:1.797rem;
	height:0.302rem;
	border:1px solid #ffffff;
	border-radius:0.074rem;
	background-repeat:no-repeat;
	background-position:center;
	background-size:0.867rem 0.223rem;
	position:absolute;
    left:0.414rem;
}

#student-online{
	background-image:url(img/资源7.png);
	bottom:0.871rem;
}
#cumt-office{
    background-image:url(img/资源8.png); 
    bottom:0.446rem;
}

.btnGroup a{
	position:absolute;
	width:1.797rem;
	height:0.302rem;
}
#middle-show{
	position:absolute;
	left:2.664rem;
	top:0.490rem;
	width:8.759rem;
}
#middle-headline{
	width:8.422rem;
	height:0.480rem;
	background:#f2f2f2;
	font-size:0.177rem;
	font-weight:bold;
	line-height:0.480rem;
	position:fixed;
	top:0px;
    left:2.809rem;
    padding-left:0.280rem;
    z-index:9999;
}
.dataSort{
    font-size:0.177rem;
	font-weight:bold;
}
.dataHeadline{
	line-height:0.345rem;
    font-size:0.177rem;
	font-weight:bold;
}
.data{
	margin-bottom:0.137rem;
	margin-left:0.320rem;
	margin-top:2px;
	padding-left:0.156rem;
	border:2px solid #dbe1e1;
	background:#ffffff;
	position:relative;
	width:8.250rem;
	height:1.304rem;
}
.leftData{
	width:5.469rem;
	height:1.304rem;
}
.dataBody{
	font-size:0.148rem;
	line-height:0.247rem;
	color:#7f7f7f;
	display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.img{
	position:absolute;
	top:0.137rem;
	right:0.200rem;
	width:1.25rem;
	height:1.030rem;
}
.img1{
	position:absolute;
	right:1.530rem;
}
.time{
    font-size:0.133rem;
    color:#666666;
}
#right-state{
	width:2.109rem;
	height:1.612rem;
	position:fixed;
	left:11.431rem;
}
#head{
    width:0.489rem;
	height:0.489rem;
	margin:0.096rem 0.094rem 0.096rem 0.414rem;
}
#login-state{
	font-size:0.177rem;
	font-weight:bold;
}
.btnGroup1{
	width:1.406rem;
	height:0.302rem;
	border-radius:0.0592rem;
	background:#ff8e55;
	color:#ffffff;
	font-size:0.148rem;
	text-align:center;
	line-height:0.302rem;
	margin-left:0.351rem;
    margin-bottom:0.137rem;
    font-weight:bold;
    cursor: pointer
}
.leftNeed:hover{
    background:#787d80;
}
.btnGroup:hover{
    background:#cccccc;	
    background-repeat:no-repeat;
	background-position:center;
	background-size:0.867rem 0.223rem;
}